<h1>Stupid Coaching</h1>
<div class="banner" id="you">
  <p><%= @question %></p>
  <p><em>— You</em></p>
</div>
<div class="banner" id="coach">
  <p><%= @answer %></p>
  <p><em>— Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
